html, body {
    margin: 0;
    padding: 0;
    background-color: #131313;
}

.top-bar {
    height: 88px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar2 {
    height: 50px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-header-1,.button-header-2,.button-header-3 {
    height: 100%;
    width: 33.33%;
    display: flex;
    border: 1px solid #131313;
    padding: auto;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.button-header-1:hover, .button-header-2:hover, .button-header-3:hover {
    color: #fff;
    background-color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 16px;
    text-decoration: none;
}

.logo img {
    height: 70px;
    width: auto;
    display: block;
}

.nav {
    display: flex;
    gap: 20px;
    padding-right: 16px;
}

.nav a {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    text-decoration: none;
}

.text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.copirate {
    color:rgba(255, 255, 255, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
}