html, body {
    margin: 0;
    padding: 0;
    background-color: #131313;
}

.top-bar {
    height: 88px;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 16px;
    text-decoration: none;
}

.logo img {
    height: 70px;
    width: auto;
    display: block;
}

.nav {
    display: flex;
    gap: 16px;
    padding-right: 16px;
}

.nav a {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.text {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
